<h3>Reactive Form</h3>
<form (ngSubmit)="add()" [formGroup]="form">
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input class="form-control" formControlName="isbn">
    <div class="alert alert-danger" *ngIf="form.get('isbn').invalid">ISBN muss mindestens 3 Zeichen haben.</div>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" formControlName="title" required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" formControlName="description"></textarea>
  </div>
  <div class="form-group">
   <button
    class="btn btn-danger"
    type="submit"
    [disabled]="form.invalid">Add book</button>
  </div>
</form>


<pre>
{{ form.value | json }}
</pre>
