<form>
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input class="form-control" name="isbn" #isbnEl>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" name="title" #titleEl>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" #descriptionEl></textarea>
  </div>
  <div class="form-group">
   <button (click)="add()" class="btn btn-danger" type="button">Add book</button>
  </div>
</form>


<hr>

<br-book *ngFor="let b of books; index as i" [book]="b" [pos]="i"></br-book>

<hr>

<p class="footer">
Anzahl Bücher: {{ books.length }}
</p>


