<div class="well">
  <div class="thumbnail pull-right">
  <img src="//ng-buch.de/avatar/{{book.rating}}" />
  </div>

  <h2>
    <span id="title">{{ book.title }}</span>
    <span class="badge">{{ pos + 1 }}</span>
  </h2>
  <p>
    <span class="glyphicon glyphicon-star" *ngFor="let x of ratingArray(book.rating)"></span>
    <span class="glyphicon glyphicon-star-empty" *ngFor="let x of ratingArray(5 - book.rating)"></span>
  </p>
  <p>{{ book.description }}</p>

  <button (click)="rateUp()" class="btn btn-default glyphicon glyphicon-thumbs-up rateUpBtn"></button>
  <button (click)="rateDown()" class="btn btn-default glyphicon glyphicon-thumbs-down rateDownBtn"></button>

  <a [routerLink]="['/book', book.isbn]" class="btn btn-default">Details</a>

</div>
